* {
  margin: 0;
  padding: 0;
}

.conteiner {
  margin: 0 auto;
  width: 90%;
}
.nav {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;

  button {
    width: 211px;
    height: 60px;
    width: 211;
    border: none;
    left: 184px;
    font-weight: 500;
    background-color: #ff7143;
    color: #ffffff;
    border-radius: 10%;
    width: 92;
    height: 22;
    top: 19px;
    left: 59px;
    opacity: 1;
  }
}
.Home {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.5px;
}

.text {
  width: 1px;
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 2.5px;
  line-height: 60px;
  font-weight: 900;
  margin-top: 110px;
  margin-left: 150px;
  display: flex;
  justify-content: space-around;
  gap: 250px;
  .text1 {
    margin-top: 80px;
  }

  p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #696871;
    line-height: 30px;
    letter-spacing: -0.63px;
    margin-top: 20px;
  }
  .getStarted {
    display: flex;
    margin-top: 35px;
    gap: 30px;
    button {
      font-weight: 700;
      font-size: 17px;
      line-height: 100%;
      background: #5454d4;
      border: none;
      color: #ffffff;
      border-radius: 10px;
      width: 211px;
    }
  }
}
.foto {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 130px;
}

.index {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
.index1 {
  margin-top: 100px;
  h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56px;
    margin-right: 250px;
  }
  p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.63px;
    margin-top: 20px;
    color: #696871;
  }
  h5 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.53px;
    color: #5454d4;
    margin-top: 20px;
  }
}

.metrics {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}
.metrics1 {
  margin-top: 200px;
  h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56px;
  }
  p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #696871;
    line-height: 30px;
    letter-spacing: -0.63px;
    margin-top: 20px;
  }
  h5 {
    color: #5454d4;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.53px;
    margin-top: 20px;
  }
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  gap: 80px;
  margin-left: 90px;
}

.Benchmarks {
  text-align: center;
  h2 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.75px;
    
  }
  p {

    font-family: sans-serif;
    font-size: 16px;
    color: #696871;
    line-height: 24px;
    letter-spacing: -0.5px;
  
    
  }
}

footer {
  margin-top: 120px;
}
.plan {
  display: flex;
  justify-content: center;
  gap: 205px;
  h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.88px;
  }
}
.butalo {
  .buttonleft {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 50px;
    line-height: 100%;
    letter-spacing: -0.5px;
    text-align: center;
    background-color: #5454d4;
    border: none;
    color: white;
    width: 160px;
    height: 55px;
    border-radius: 10px 0 0 10px;
  }
  .buttonraight {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 50px;
    line-height: 100%;
    letter-spacing: -0.5px;
    text-align: center;
    background-color: #F7F7FB;
    border: none;
    color:black;
    width: 160px;
    height: 55px;
    border-radius: 0 10px 10px 0;
  }
}
.foto5{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 400px;
}
.ibo{
  margin-right: 100px;
}
